body{
	font-family: 'Roboto Mono', monospace !important;
}
.top{
	height: 100px;
	border-bottom: black solid 1px;
}
.box{
}
.left{
	padding: 20px;
	border-bottom: black solid 1px;
}
.right{
	padding: 20px;
	border-bottom: black solid 1px;
}
.bottom{
	text-align: center;
	padding-top: 20px;
}
.form-group{
	font-size: 16px;
}
.form-control{
	font-size: 16px !important;
}
textarea{
	resize: none;
	font-size: 16px;
}

::-webkit-input-placeholder {font-size: 16px;}
:-moz-placeholder { font-size: 16px;}
::-moz-placeholder { font-size: 16px;}
:-ms-input-placeholder { font-size: 16px;}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
select:focus, textarea:focus, input:focus {
        font-size: 16px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media (min-width: 768px) {

.container{
        max-width: 750px;
}
.top{
	border-bottom: black solid 1px;
	height: 100px;
}
.box{
	border-bottom: black solid 1px;
	border-right: black solid 1px;
	border-left: black solid 1px;
}
.left{
	padding: 20px;
	border-right: black solid 1px;
	border-bottom: black solid 0px;
}
.right{
	padding: 20px;
	border-bottom: black solid 0px;
	
}
.bottom{
	border-bottom: black solid 1px;
	border-left: black solid 1px;
	border-right: black solid 1px;
	text-align: left;
	padding: 10px;
}
}
@media (min-width: 992px) {

}