body{
  background-color: #252527 !important;
  
}
::-webkit-input-placeholder {font-size: 16px;}
:-moz-placeholder { font-size: 16px;}
::-moz-placeholder { font-size: 16px;}
:-ms-input-placeholder { font-size: 16px;}

textarea{
  resize: none;
  font-size: 16px;
}
.container{
  padding-left: 30px;
  padding-right: 30px;
}
.box{
  height: 100%;
}
.left-box{
  padding: 20px;
  background-color: #eeeeee;
  height: 100%;
  /*border-right: #cbcbcb solid 5px;
  border-top: #cbcbcb solid 5px;*/
}
.right-box{
  padding: 20px;
  background-color: white;
  font-size: 16px;
  height: 100%;
  /*border-top: #cbcbcb solid 5px;*/
  color: #999999;
}
.top{
  height: 160px;
  background-color: black;
  color: white;
  padding-top: 30px;
 }
.form-group{
  color:grey;
  font-size: 16px;
}
.foot{
  height: 40px;
  background-color: black;
  color: white;
  padding-top: 7px;
}
@media (min-width: 768px) {

.right-box{
  height: 402px;
}
.box{
  
}
}
@media (min-width: 992px) {
.container{
        max-width: 750px;
    }
}